footer
  section.innerFooter
    section.footerText
      .textBoxFooter
        #homeText
          h2 HOME
        a(href='/') Index
        br
      .textBoxFooter
        #aboutText
          h2 ABOUT
          a(href='https://github.com/natjeo/3005-project/blob/7b4f7f5e1e8fd65dd90063b8bdfc8639f5e91798/Project_COMP_3005_F21.pdf') Project Outline
          br
      .textBoxFooter
        #courseText
          h2 OTHER INFO
          p COMP 3005
          p Natalie Jeong
          p 100794762
