nav.innerHeader
  .logoContainer_h
    a(href='/')
      img.logo(src='/images/LIB_logo.png' alt='logoHeader')

  ul.nav_links
    li
      a(href='/')
        |  HOME
    li
      a(href='/books')
        |  BOOKS
    li
      a(href='/cart')
        |  CART

  ul.user_links
    li
