extends ../templates/layout

block content
    include ../templates/header

    section.greyBackground
        div.movieSearch
          button.fillButton SEARCH

        div.headerBox
            div
                h4 Header 4
                p this is where the list of authors will be shown
